# LLama-Index 
llama-index-embeddings-huggingface==0.1.4
llama-index-llms-openai==0.1.7
llama-index-vector-stores-milvus==0.1.4
llama-index-core==0.10.16.post1
llama-index==0.10.16

#Backend
fastapi==0.110.0
uvicorn==0.27.1

